<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.b3os.steno-helper</string>
  <key>ProgramArguments</key>
  <array><string>__B3OS_HOME__/Library/Application Support/b3os/bin/steno-helper</string></array>
  <key>EnvironmentVariables</key>
  <dict><key>STENO_LIBRARY</key><string>__STENO_LIBRARY__</string></dict>
  <key>RunAtLoad</key><true/>
  <key>WatchPaths</key>
  <array><string>__B3OS_HOME__/Library/Application Support/b3os/steno-outbox</string><string>__B3OS_HOME__/Library/Application Support/b3os/steno-share-outbox</string></array>
  <key>StartInterval</key><integer>30</integer>
  <key>StandardOutPath</key><string>__B3OS_HOME__/Library/Logs/b3os-steno-helper.log</string>
  <key>StandardErrorPath</key><string>__B3OS_HOME__/Library/Logs/b3os-steno-helper.log</string>
</dict>
</plist>
